<li class="list-group-item<% if hidden %> hide<% end %>">
  <span class="mega-octicon octicon-git-commit commit-icon pull-left"></span>
  <button type="button" class="pull-right btn btn-default js-check-commit" data-commit-url="<%= commit[:html_url] %>">Check</button>
  <h4 class="list-group-item-heading"><%= commit[:message] %></h4>
  <p class="list-group-item-text commit-shortcut">
    <a href="<%= commit[:html_url] %>" title="<%= commit[:message] %>" target="_blank"><%= commit[:shortcut] %></a>
  </p>
</li>
